body {
    background-color: #141414;
    color: #fefefe;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.card {
    border-radius: 10px;
}

/* START NAVBAR */
.navbar {
    background-color: #141414;
}

.navlogo {
    width: 20px;
    height: 20px;
}

.nav-wrapper:hover,
.nav-wrapper a img {
    cursor: default;
}

.logo-text {
    font-weight: 700;
    font-size: large;
    margin-left: 30px;
}

.header {
    font-weight: 500;
}

/* END NAVBAR */

/* tables*/
thead {
    display: table-header-group;
    vertical-align: middle;
}

tr {
    display: table-row;
    vertical-align: inherit;
}

th,
td {
    padding: 5px 4px 6px 4px;
    text-align: left;
    vertical-align: top;
}

.dataTable tr{
    cursor: pointer;
}

/* end tables*/

/* START FOOTER */
.footer-center {
    margin: auto;
    display: block;
    text-align: center;
}

.footer-button {
    margin-left: 8px;
}

/* END FOOTER */